body{
    font-family: Poppins !important;
}
.navbar-default{
    background-color: dodgerblue !important;
    border: 0;
    font-family: Poppins;
}

.navbar-brand{
    font-size: 20px;
    /*    color: #000 !important;*/
    color: #fff !important;
    font-weight: bold;
}

.img1, .img2, .img3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-attachment: fixed;
}

.img1{
    background-image: Url('../images/pexels/pexels-photo-220182.jpeg');
    min-height: 100% !important;
}

.img2{
    background-image: Url('../images/pexels/pexels-photo-952670.jpeg');
    min-height: 400px;
}

.img3{
    background-image: Url('../images/pexels/pexels-photo-1308624.jpeg');
    min-height: 400px;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}

.newz{
    margin-left:65px;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.newz .feature{
    /*    background-color: lightslategray;*/
    color: #fff;
    padding: 20px;
}

.newz .feature .trans{
    background-color: transparent;
}

.tbl-header table{
    margin-bottom: 0px;

}

.input[type=email]{
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

.input[type=email]:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.inputWithIcon input[type=email]{
    padding-left: 40px;
}

.inputWithIcon{
    position: relative;
}

.inputWithIcon i{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 2px 11px;
    color: #aaa;
    transition: .3s;
}

.inputWithIcon input[type=email]:focus + i{
    color: dodgerblue;
}

.inputWithIcon.inputIconBg i{
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type=email]:focus + i{
    color: #fff;
    background-color: dodgerblue;
}

.btn-social-icon{
    width: 50px;
    height: 50px;
    padding: 15px !important;
}

.btn-youtube{
    background-color: red;
    color: white !important;
}


/*social media icons*/
/*
.fa{
    padding: 15px;
    font-size: 30px;
    width: 60px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50px;
}

.fa:hover{
    opacity: 0.7;
}

.fa-facebook{
    background: #3B5998;
    color: white;
}

.fa-twitter{
    background: #55ACEE;
    color: white;
}

.fa-google{
    background: #dd4b39;
    color: white;
}

.fa-linkedin{
    background: #007bb5;
    color: white;
}

.fa-youtube{
    background: #bb0000;
    color: white;
}*/